@model TMS.NET06.Parfume.Manager.MVC.Data.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <textarea asp-for="Overview" class="form-control">@Model.Overview</textarea>
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><b>product images</b></label>
                @{int i = 1;
                    @foreach (var image in Model.Images)
                    {<input name="images" id="images_@i" value="@image" class="form-control" />
                        <button id="buttonDelete_@i" onclick="deleteInput('images_@i', 'buttonDelete_@i');">Удалить</button>
                        i++;
                        <span class="text-danger"></span>
                    }
                }
            </div>
            <div class="form-group">
                <label class="control-label"><b>product small images</b></label>
                @{int j = 1;
                    @foreach (var imagessmall in Model.ImagesSmall)
                    {
                        <input name="imagesSmall" id="imagesSmall_@j" value="@imagessmall" class="form-control" />
                        <button id="buttonDeleteSmall_@j" onclick="deleteInput('imagesSmall_@j', 'buttonDeleteSmall_@j');">Удалить</button>
                        j++;
                        <span class="text-danger"></span>
                    }
                }
            </div>

            <div class="form-group">
                <label class="control-label"><b>Pick images to add</b></label>
                <input type="file" class="form-control-file" id="Images" name="uploadImages" multiple>
            </div>
            <div class="form-group">
                <label class="control-label"><b>Pick small images to add</b></label>
                <input type="file" class="form-control-file" id="ImagesSmall" name="uploadImagesSmall" multiple>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function deleteInput(inputId, btnId) {

        var el = document.getElementById(inputId);
        var btn = document.getElementById(btnId);
        el.remove();
        btn.remove();

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

